<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<style media="screen"></style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css"></meta>
<meta name="author" content="青森旅游信息官方网站">
<meta name="Keywords" content="日本,青森,观光,弘前,温泉,苹果,櫻花,一路,青森,小梦,帮倒忙,视频,三内丸山,白神山地,世界遗产,十和田湖,旅游,信息,官方,网站,北海道,札幌,登别,洞爷湖,函馆,包机,启程,报名,发,东京,秋田,广州,大连,上海,北京,通,往,明日,爱,中日友好,日中友好,纪念,新干线,樱花,活动,山本,背景,高田勲,宫崎骏,未来,少年,柯南,物产,馆,开业,世博,八户,木制,人形,玩具,八甲田,田茂萢岳,雪鞋,散步,缆车,山顶公园,体验,鬼沢,赤裸节,滑雪,雪灯,尾上,农家,藏,物语,细野相沢,新年,春节,大鳄温泉,八户,沿歨利,滨田英一,艺术展,俄罗斯,邮轮,公主号,苹果,iPad,air,有奖转发,活动,获奖,豪礼,津轻,森,2014,三味线,现场,音乐会,岩木山,鲹泽町,相扑,津轻,传统,艺术,法光寺,南部町,中央公民馆,春天,烂漫,海族,特别展,浅虫,水族馆,苹果花,祭,2014,常夜灯,海港,祭典,山间,摇滚,油菜花,Festival,横滨,天王,杜鹃,大鳄,企划,玩具,百科,图鉴,记录,肖像,工藤哲巳,回顾,展,第29届,东北,赛马,七户,大会,佐井村,海胆,祭,夜灯,藤田,纪念,庭院,免费,开放,ANA,全日空,航线,开通,有缘,乒乓球,选手,福原爱,精灵,典礼,恐山,大型,祭典,牧场,馁钸哒,ASPAM,云谷高原,夕阳,索道,第57届,烟花,大会,黑石,YOSARE,鹤田町,携程,日航,特价,团队,游,自由行,Ctrip,ICS,上海外语频道,上海,外语,频道,津轻海峡,SPECIAL,恋上,县立,美术馆,睡魔祭"/>
<meta name="Description" content="News一览 | 观光情報 | 玩转青森 青森旅游信息官方网站"/>
<link rel="stylesheet" type="text/css" media="screen,print" href="../css/import.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/DropDownMenu.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33157173-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<title>News一览 | 玩转青森 青森旅游信息官方网站</title>
</head>
<body class="top">
<div id="wrapper"><!--wrapper-->
	<div id="container"><!--container-->
		<div id="header"><!--header-->	
		
		</div><!--header [End]-->	
		
		<div id="contents" class="news"><!--contents-->
			<div class="box">
				<ul>